<section class="signup" [formGroup]="signupForm">
  <div class="container">
    <div class="signup-form">
      <h1 class="page-title">Регистрация на сайте</h1>
      <form>
        <input type="text" placeholder="Ваше имя"
               formControlName="name"
               [ngStyle]="{'border-color': signupForm.get('name')?.invalid
                 && (signupForm.get('name')?.dirty || signupForm.get('name')?.touched) ? 'red' : ''}">
        <input type="email" placeholder="Электронная почта" formControlName="email"
               [ngStyle]="{'border-color': signupForm.get('email')?.invalid
                 && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched) ? 'red' : ''}">
        <input type="password" placeholder="Пароль" formControlName="password"
               [ngStyle]="{'border-color': signupForm.get('password')?.invalid
                 && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched) ? 'red' : ''}">

        <div class="agreement">
          <input type="checkbox" id="signup-checkbox">
          <div class="checkbox">
            <div class="checkbox-inner">
              <svg enable-background="new 0 0 14 14" height="14px" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="14px"
                   xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g>
                <polyline fill="none" points="   649,137.999 675,137.999 675,155.999 661,155.999  " stroke="#FFFFFF"
                          stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                <polyline fill="none" points="   653,155.999 649,155.999 649,141.999  " stroke="#FFFFFF"
                          stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                <polyline fill="none" points="   661,156 653,162 653,156  " stroke="#FFFFFF" stroke-linecap="round"
                          stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/></g><g><g>
                <path d="M9,21c-0.256,0-0.512-0.098-0.707-0.293l-5-5c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0l5,5
                c0.391,0.391,0.391,1.023,0,1.414C9.512,20.902,9.256,21,9,21z"/></g><g>
                <path d="M13,25c-0.256,0-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414l16-16c0.
                391-0.391,1.023-0.391,1.414,0    s0.391,1.023,0,1.414l-16,16C13.512,24.902,13.256,25,13,25z"/></g></g>
              </svg>
            </div>
          </div>

          <label for="signup-checkbox">
            Я принимаю <a>условия пользовательского соглашения</a> и даю <a>согласие на обработку персональных
            данных.</a>
          </label>
        </div>

        <button class="btn" [disabled]="signupForm.invalid" (click)="signup()">Зарегистрироваться</button>
        <p>Уже есть аккаунт? <a>Войдите</a></p>
      </form>
    </div>
    <div class="signup-image">
      <div class="image-container"></div>
    </div>
  </div>
</section>
