@import "../../../../assets/styles/auth";

.signup {
  .container {
    .signup-form {

      form {
        .agreement {
          cursor: pointer;
          align-items: start;

          input {
            top: 4px;
          }

          .checkbox {
            cursor: pointer;
            margin-top: 4px;
          }

          label {
            line-height: 130%;
          }
        }
      }
    }

    .image-container {
      background-image: url("../../../../assets/images/signup-bg.png");
    }
  }
}
