@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.article {
  .container {
    .breadcrumbs {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #b9d5fd;
      margin-bottom: 60px;

      .previous {
        text-decoration: none;
        color: #b9d5fd;
      }

      .current {
        color: $light-blue-text-color;
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 60px;

      .header-text {
        max-width: 607px;

        .article-title {
          @include sectionHeading;
          color: $light-blue-text-color;
          line-height: 130%;
          margin-bottom: 40px;
        }

        .article-description {
          font-size: 20px;
          line-height: 130%;
          color: #b9d5fd;
        }
      }

      .header-image {
        background-size: cover;
        width: 527px;
        height: 320px;
        border-radius: 5px;
      }
    }

    .main {
      display: flex;
      align-items: start;
      justify-content: space-between;
      margin-bottom: 60px;

      .related-articles {
        max-width: 292px;
        display: flex;
        flex-direction: column;

        .related-articles-title {
          font-family: "Lora", sans-serif;
          font-weight: 400;
          font-size: 26px;
          color: $light-blue-text-color;
          margin-bottom: 20px;
        }

        article {
          margin-bottom: 60px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .share {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 60px;

      .share-text {
        font-size: 14px;
        color: $light-blue-text-color;
      }

      .socials {
        display: flex;
        align-items: center;
        gap: 13px;

        .social-link {
          width: 20px;
          height: 20px;
          text-decoration: none;
        }
      }
    }

    .comments {
      .comments-title {
        @include sectionHeading;
        color: $light-blue-text-color;
        margin-bottom: 20px;
      }

      .comment-input {
        margin-bottom: 60px;
      }
    }
  }
}
