@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.article {
  .container {
    .breadcrumbs {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #b9d5fd;
      margin-bottom: 60px;

      .previous {
        text-decoration: none;
        color: #b9d5fd;
      }

      .current {
        color: $light-blue-text-color;
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 60px;

      .header-text {
        max-width: 607px;

        .article-title {
          @include sectionHeading;
          color: $light-blue-text-color;
          line-height: 130%;
          margin-bottom: 40px;
        }

        .article-description {
          font-size: 20px;
          line-height: 130%;
          color: #b9d5fd;
        }
      }

      .header-image {
        background-size: cover;
        width: 527px;
        height: 320px;
        border-radius: 5px;
      }
    }

    .main {
      display: flex;
      align-items: start;
      justify-content: space-between;
      margin-bottom: 60px;

      .related-articles {
        max-width: 292px;
        display: flex;
        flex-direction: column;

        .related-articles-title {
          font-family: "Lora", sans-serif;
          font-weight: 400;
          font-size: 26px;
          color: $light-blue-text-color;
          margin-bottom: 20px;
        }

        article {
          margin-bottom: 60px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .share {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 60px;

      .share-text {
        font-size: 14px;
        color: $light-blue-text-color;
      }

      .socials {
        display: flex;
        align-items: center;
        gap: 13px;

        .social-link {
          width: 20px;
          height: 20px;
          text-decoration: none;
        }
      }
    }

    .comments {
      .comments-title {
        @include sectionHeading;
        color: $light-blue-text-color;
        margin-bottom: 20px;
      }

      .comment-input {
        margin-bottom: 60px;

        a {
          text-decoration: none;
          color: #b9d5fd;
        }
      }

      .comments-list {
        max-width: 854px;

        .comment {
          margin-bottom: 40px;

          .user-info {
            display: flex;
            gap: 20px;
            margin-bottom: 15px;

            .user-image {
              width: 60px;
              height: 60px;
              background-color: #b9d5fd;
              border: 1px solid $light-blue-text-color;
              border-radius: 50%;
            }

            .user-text {
              .user-name {
                font-weight: 600;
                color: $light-blue-text-color;
                font-size: 18px;
                margin-bottom: 10px;
              }

              .comment-date {
                color: #a8aba7;
                font-weight: 600;
                font-size: 14px;
              }
            }
          }

          .comment-text {
            font-size: 14px;
            color: $dark-blue-text-color;
            line-height: 140%;
            margin-bottom: 40px;
          }

          .comment-reactions {
            display: flex;
            align-items: center;
            gap: 15px;

            .reaction {
              display: flex;
              align-items: center;
              gap: 3px;

              .reaction-number {
                font-weight: 600;
                font-size: 14px;
              }

              svg {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
