@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.article {
  position: relative;
  display: grid;
  align-items: start;
  grid-template-rows: max-content;
  box-sizing: border-box;
  height: 100%;
  max-width: 292px;

  .article-picture {
    width: 291px;
    height: 291px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
  }

  .article-category {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 18px;
    color: $light-blue-text-color;
    font-size: 11px;
  }

  .article-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: $light-blue-text-color;
    margin-bottom: 20px;
  }

  .article-description {
    font-size: 14px;
    color: $description-color;
    line-height: 130%;
    margin-bottom: 20px;

  }

  .article-extra {
    width: fit-content;
    color: $light-blue-text-color;
    text-decoration: none;
    border-bottom: 1px solid $light-blue-text-color;
    align-self: flex-end;
  }
}
