@import "../../../../assets/styles/auth";

.login {
  .container {
    .login-form {
      form {
        .agreement {
          cursor: pointer;
          align-items: center;
          input {
            cursor: pointer;
            top: 0;
          }

          .checkbox {
            cursor: pointer;
            margin-top: 0;
          }

          label {
            line-height: normal;
          }
        }
      }
    }
    .image-container {
      background-image: url("../../../../assets/images/login-bg.png");
    }
  }
}
