@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a, input, label {
  cursor: pointer;
}

.btn {
  outline: none;
  border: none;
  background-color: $light-blue-text-color;
  color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

input:not([type='checkbox']) {
  border: 2px solid $light-blue-text-color;
  border-radius: 3px;
  background-color: #fff;
  outline: none;
  width: 422px;
  height: 53px;
  box-sizing: border-box;
  padding: 20px;
}
