@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

a, label {
  cursor: pointer;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: $light-blue-text-color;
  color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

input:not([type='checkbox']) {
  border: 2px solid $light-blue-text-color;
  border-radius: 3px;
  background-color: #fff;
  outline: none;
  width: 422px;
  height: 53px;
  box-sizing: border-box;
  padding: 20px;
}

.services-dialog, .consultation-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(7, 23, 57, 0.4);
  z-index: 400;

  .dialog-container {
    position: relative;
    width: 727px;
    height: 489px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 92px;
    border-radius: 10px;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .dialog-option{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .close-btn {
      position: absolute;
      cursor: pointer;
      top: 30px;
      right: 30px;
    }

    .dialog-title {
      text-align: center;
      color: $light-blue-text-color;
      font-family: "Lora", sans-serif;
      font-weight: 400;
      font-size: 38px;
      margin-bottom: 20px;
    }

    .dialog-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      margin-bottom: 20px;

      input {
        border: 2px solid $light-blue-text-color;
        border-radius: 3px;
        padding: 20px;
        box-sizing: border-box;
        color: $light-blue-text-color;
        font-size: 14px;

        &:not([disabled]) {
          cursor: text;
        }

        &::placeholder {
          color: #a8aba7;
          font-size: 14px;
        }
      }
    }
    .dialog-btn {
      width: 422px;
      height: 51px;
    }

    .dialog-description {
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 40px;
    }

    .dialog-confirm-btn {
      width: 73px;
      height: 36px;
    }
  }
}

.article {
  .main {
    .main-text {
      max-width: 818px;
      p {
        line-height: 130%;
        color: $description-color;
        margin-bottom: 20px;
      }

      h1, h3 {
        font-size: 20px;
        color: $light-blue-text-color;
        margin-bottom: 20px;
        margin-top: 40px;
      }

      h1 {
        font-size: 26px;
      }
    }
  }
}
